body {
	font-size: 30px;
	background-color: rgb(245, 245, 245);
	margin: 0;
	padding: 0;
	font-family: 'Dancing Script', 'Open Sans', cursive, Arial, sans-serif;
}

#global {
    background: transparent;
    max-width: 100%;
    text-align: center;
	position: relative;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 45px;
}

/* ---------------- */
/* HEADER */

header {
	background-color: rgb(255, 255, 255);
	font-family: 'Antonio', 'Open Sans', sans-serif;
	border-bottom: solid 6px rgb(255, 20, 147);
}

.wrap {
	text-align: left;
	max-width: 980px;
	width: 100%;
}

/* logo */

#logo {
	margin: 20px 46px 0 26px;
	float: left;
}

#logo img {
    max-width: 200px;
}

/* title */

#cinema_name {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin: 25px 0 10px 0;
	font-family: 'Bebas Neue', 'Open Sans', cursive;
	font-size: 50px;
	font-weight: 400;
	border-top: solid 2px rgb(193, 193, 193);
	border-bottom: solid 2px rgb(193, 193, 193);
	padding: 0.5em 0.5em 0.5em 0;
	color: rgb(0,0,255);
}

/* menu */

#menu {
    font-size: 16px;
    z-index: 200;
    height: 40px;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    width: 80%;
	font-size: 25px;
}

#menu li {
    display: inline-block;
	margin-right: 20px;
}

.menu_top a, .menu_top a:visited {
	text-decoration: none;
	color: rgb(0, 0, 255);
}

.menu_top li {
	list-style: none;
}

.menu_top a:hover {
	color: rgb(255, 211, 0);
}

/* login link */

#login {
	position: absolute;
	top: 30px;
	right: 50px;
	background-color: rgb(195, 195, 195);
	color: rgb(255, 255, 255);
	display: inline-block;
    vertical-align: middle;
    padding: 0.75em;
    border-radius: 10px 10px 10px 0;
	width: 50px;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

#login:hover {
    text-decoration: underline;
}

.login_responsive {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 37px;
	height: 35px;
	margin-right: 10px;
}

/* ---------------- */
/* FOOTER */

footer {
	background-color: rgb(0,0,255);
	font-family: 'Antonio', 'Open Sans', sans-serif;
	border-top: solid 6px rgb(20, 145, 235);
	color: rgb(255, 255, 255);
	overflow: hidden;
	padding: 0 0 30px 0;
	position: relative;
	margin-bottom: 0;
	width: 100%;
	font-size: 16px;
}

footer strong {
    color: rgb(20, 145, 235);
	font-weight: 700;
}

.menu_footer, #logo_footer, #social_footer {
    float: left;
    margin-top: 20px;
	margin-bottom: 0px;
}

/* logo */

#logo_footer {
    border-right: 1px solid rgb(204, 204, 204);
	margin: 20px 46px 0 26px;
	float: left;
}

#logo_footer img {
	max-width: 100px;
}

/* pages menu */

.menu_footer {
    text-align: left;
    box-sizing: border-box;
    width: 150px;
    padding: 0 10px;
}

.menu_footer ul, .menu_footer li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.menu_footer a, .menu_footer a:visited, .menu_footer strong {
    display: block;
    padding: 3px;
    text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-size: 16px;
	padding: 3px;
}

.menu_footer a:hover {
	text-decoration: underline;
}

/* social media links */

#social_footer {
	margin-left: 10px;
    border-left: 1px solid rgb(204, 204, 204);
    padding-left: 30px;
}

#social_footer p {
    margin-top: 0;
}

#social_buttons a.slink_twitter, #social_buttons a.slink_facebook, #social_buttons a.slink_instagram {
	background: rgb(153, 153, 153)
}

#social_buttons a {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

#social_buttons img {
	width: 36px;
	height: 36px;
	display: block;
	margin: 0;
	padding: 0;
}

/* ---------------- */
/* FILMS PAGE BODY */

.container {
	position: relative;
	display: inline-block;
	margin: 15px;
}

.stamp {
	/*left: 0%;*/
	width: 50%;
	height: 97%;
	background-color: rgba(100,100,100,0.7);
	position: absolute;
}

.stamp h2 {
	font-size: 30px;
}

.stamp p {
	font-style: italic;
	font-size: 20px;
}

.stamp a, .stamp a:visited {
	text-decoration: none;
	color: white;
}

.stamp a:hover {
	color: rgb(255, 20, 147);
}

.stamp a:active {
	color: blue;
}

.content {
	color: white;
	margin: auto;
	padding: 15%;
	text-align: left;
}

.container:hover .stamp {
	left: 50%;
}


/* ---------------- */
/* MOVIE PAGES */

.media {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-bottom: 50px;
}

.poster {
	margin-top: 50px;	
	flex-grow: 1;
}

.poster img {
	max-width: 17.5vw;
}

.trailer {
	flex-grow: 2;
	margin-top: 50px;
}

.trailer iframe {
	width: 1120px;
	height: 630px;
	border: 0;
}

.film_infos .wrap {
    overflow: hidden;
	padding-bottom: 10px;
	margin: 0 auto;
}

.film_infos .film_data, .film_infos .film_synopsis {
    float: left;
    width: 36%;
    padding: 20px;
    box-sizing: border-box;
}

.film_infos .film_synopsis {
    width: 64%;
}

.blue_title {
    border-bottom: solid 1px rgb(193, 193, 193);
    text-align: left;
    background: blue;
    color: rgb(255, 255, 255);
    padding: 3px 30px;
    display: inline-block;
    font-weight: 700;
	text-transform: uppercase;
}

.blue_title h2 {
	margin: 0;
	font-size: 35px;	
}

/* ---------------- */
/* MURDER ON THE ORIENT EXPRESS PAGE */

/* To add some mystery to the detective movie page ! */

#mystery {
	font-family: 'New Tegomin', 'Dancing Script', 'Open Sans', serif;
	font-size: 25px;
}

/* ---------------- */
/* RESPONSIVE HEADER */

/* Adapting the page layout to phones' screen sizes. */
/* Once the header links are not in one line anymore, we reduce the font size and ajust the layout such that it still has a clear layout. */

@media (max-width: 700px) {
	.wrap {
		height: 270px;
	}
	/* Reducing the size of the logo at the top left corner. */
	#logo img {
		max-width: 60px;
		margin: 2px 0 20px 2px;
	}
	/* Reducing the font size of the title "Cinematic". */
	#cinema_name {
		font-size: 30px;
		display: block;
		text-align: center;
		width: 100%;
		overflow: hidden;
	}
	/* Setting a smaller login icon at the top right corner. */
	#login {
		display: none;
	}
	.login_responsive {
		display: inline-block
	}
	/* Reducing the font size of the links to other pages. */
	#menu li a {
		font-size: 20px;
    }
	/* Setting the social media below the menu. */
	#social_footer {
		width: 100%;
	}
}

/* ---------------- */
/* RESPONSIVE FILMS PAGE */

@media (max-width: 500px) {
	.container img {
		width: 300px;
		height: 150px;
	}
	.stamp {
		height: 95%;
	}
	.content {
		padding: 10%;
	}
	.stamp h2 {
		font-size: 20px;
	}
	.stamp p {
		font-size: 15px;
	}
}

/* ---------------- */
/* RESPONSIVE MOVIE PAGES */

@media (max-width: 1450px) {
	.trailer iframe {
		width: 600px;
		height: 337.5px;
	}
	.ff_synopsis {
		font-size: 20px;
	}
	.film_data {
		font-size: 20px;
	}
}

@media (max-width: 700px) {
	.trailer iframe {
		width: auto;
		height: auto;
	}
	.ff_synopsis {
		font-size: 13px;
	}
	.film_data {
		font-size: 10px;
	}
}